@import "tailwindcss";

body {
    @apply bg-[#2f3855] text-white text-xl leading-snug font-semibold;
    font-family: "Montserrat"
}
input[type=checkbox] {
    @apply rounded
}

h1 {
    @apply text-2xl text-white mb-3 text-center
}
#menues-container {
    @apply flex flex-col gap-2
}
.menue-item {
    @apply bg-[#038AC8] p-4 rounded-2xl w-full flex flex-col gap-y-2
}
.menue-item h2 {
    @apply bg-[#FCDB66] text-black w-fit px-2 py-1 rounded-xl
}
.menue-item p {
    @apply text-white
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #505050 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #333333;
  }
  *::-webkit-scrollbar-thumb:active {
    background: #333333;
  }
  *::-webkit-scrollbar-button {
    width: 7px;
    height: 7px;
  }